<div class="mb-50px">
    <div class="row align-items-end mb-25px">
        <div class="col-md-8">
            <h3 class="alt-font fw-700 text-dark-gray ls-minus-1px mb-5px">Popular in {{ section.category.name }}</h3>
            <p class="mb-0 text-medium-gray">{{ section.total_count }} templates</p>
        </div>
        <div class="col-md-4 text-md-end">
            <a href="/popular?category={{ section.category.slug }}" class="btn btn-link text-dark-gray fw-600">View all {{ section.category.name }} templates <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="bg-white border-radius-10px box-shadow-medium p-20px md-p-30px">
        {% for item in section.templates %}
            {% include "components/template_list_row.html" %}
        {% endfor %}
    </div>
</div>
