<li class="grid-item mkt-template-card">
    <div class="p-14px border-radius-10px box-shadow-medium box-shadow-quadruple-large-hover bg-white position-relative">
        <a href="/templates/{{ item.slug }}" class="position-absolute left-0px top-0px w-100 h-100 z-index-9" aria-label="View {{ item.title }} details"></a>
        {% set image_class = "border-radius-5px w-100" %}
        {% include "components/responsive_card_image.html" %}
        <div class="row align-items-center pt-20px pb-10px ps-20px pe-20px position-relative z-index-10">
            <div class="col md-mb-15px">
                <span class="text-dark-gray fw-600 fs-18 d-block">{{ item.title }}</span>
                <p class="fs-15 lh-26 mb-0">{{ item.category.name }} · {{ item.industry.name }}</p>
            </div>
            <div class="col-lg-auto col-12">
                <span class="d-inline-flex text-green bg-crusoe-green text-uppercase alt-font fs-11 lh-26 fw-700 border-radius-40px ps-15px pe-15px">${{ "%.0f"|format(item.price) }}</span>
                {% if item.sales_count > 50 %}
                <span class="d-inline-flex text-red bg-light-red text-uppercase alt-font fs-11 lh-26 fw-700 border-radius-40px ps-15px pe-15px ms-5px">Popular</span>
                {% endif %}
            </div>
        </div>
        <div class="row ps-20px pe-20px pb-15px position-relative z-index-10">
            <div class="col-12 d-flex flex-wrap gap-2">
                <a href="/preview/{{ item.slug }}" class="btn btn-very-small btn-transparent-light-gray btn-rounded">Live Preview</a>
                <a href="/templates/{{ item.slug }}" class="btn btn-very-small btn-dark-gray btn-rounded">Details</a>
            </div>
            <div class="col-12 mt-10px">
                <span class="fs-13 text-medium-gray">★ {{ "%.1f"|format(item.rating) }} · {{ item.sales_count }} sales · {{ item.last_updated.strftime("%b %Y") }}</span>
            </div>
        </div>
    </div>
</li>
