<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{{ meta_title or "Mateo ConsultOps Themes" }}</title>
    <meta name="description" content="{{ meta_description or 'Premium website templates for local businesses.' }}" />
    <meta property="og:title" content="{{ meta_title or 'Mateo ConsultOps Themes' }}" />
    <meta property="og:description" content="{{ meta_description or 'Premium website templates for small businesses.' }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <link rel="icon" type="image/x-icon" href="/static/images/logos/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/static/crafto/css/vendors.min.css" />
    <link rel="stylesheet" href="/static/crafto/css/icon.min.css" />
    <link rel="stylesheet" href="/static/crafto/css/style.css" />
    <link rel="stylesheet" href="/static/crafto/css/responsive.css" />
    <link rel="stylesheet" href="/static/crafto/demos/landing-page/landing-page.css" />
    <link rel="stylesheet" href="/static/css/marketplace-crafto.css" />
    {% block extra_head %}{% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="{{ body_class | default('') }}" data-mobile-nav-style="classic">
    <a href="#main-content" class="sr-only sr-only-focusable">Skip to content</a>
    {% block header %}{% include "components/crafto/header.html" %}{% endblock %}

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    {% include "components/crafto/footer.html" %}

    <script type="text/javascript" src="/static/crafto/js/jquery.js"></script>
    <script type="text/javascript" src="/static/crafto/js/vendors.min.js"></script>
    <script type="text/javascript" src="/static/crafto/js/main.js"></script>
    <script defer src="/static/js/app.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
